::-webkit-scrollbar {
    width : 10px;
    background-color: black;
}

::-webkit-scrollbar-button {
    background-color: black;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: gray   ;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #ffffff;
}

.Home {
    max-width: 100%;
}

.bg {
    background-image: url(https://lh3.googleusercontent.com/drive-viewer/AFGJ81r0X3ELthQ_vn0vpn91yWV45XWahaqECZ4YHeVMPF2XpcV08t3OfCl-DCiBuxpcpcNeHZZUm1Y_06_Us2KunB4rpiJtDA=s1600);
    display: block;
    background-size: cover;
    height: 745px;
    max-width:100%
}

.logo { 
    padding-top: 35px;
    padding-left: 120px;
    color: white;
    height: 25px;
}

.Link {
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header nav {
    float: right;
    padding-top: 40px;
    padding-right: 120px;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    position: relative;
}

header nav li {
    list-style: none;
}

.menu0 {
    margin-inline: 0px 25px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.MainLinks {
    text-decoration: none;
}

li:hover {
    text-decoration-line: underline;
    text-decoration-color: burlywood;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.MainLinks:link {
    color: white;
}

.MainLinks:visited {
    color: white;
}

.MainLinks:hover {
    color: burlywood;
}

.MainLinks:active {
    color: burlywood;
}

.btn input {
    align-items: center;
    border-style: solid;
    background-color: transparent;
    border-radius: 30px;
    border-width: 2px;
    color: white;
    border-color: white;
    height: 40px;
    width: 130px;
    margin-top: 35px;
    margin-inline: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn1:hover {
    background-color: white ;
    border-color: white;
    color: burlywood;
}

.AboutUs {
    line-height: 745px;
    height: 745px;
    width: 100%;
}

.AboutUs2 {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.offers {
    color: burlywood;
    padding-top: 200px;
}

.about {
    color: white;
    font-size: 70px;
}
.about1 {
    color: white;
}
.welcome {
    color: burlywood;
    font-size: 50px;
    margin-bottom: -15px;
}

.welcome2 {
    color: black;
    margin-top: -10 px;   
    font-size: 35px;
}

.welcome3 {
    padding-top: 5px;
    padding-bottom: 40px;
    color: darkgray;
    font-size: 18px;
    line-height: 25px;
}

.row0 {
    display: inline-flex;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.row1 {
    display: inline-flex;
}

.row2 {
    width: 33.33%;
    text-align: center;
}

.row3 {
    width: 33.33%;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.ViewMenu {
    height: 1120px;
    line-height: 1120px;
    text-align: center;
    width: 100%;
}

.ViewMenu2 {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.dish-panel {
    padding-bottom: 16px;
    border-bottom: 1px dashed #d8d8d8;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    outline: none;
}

.dish--title {
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.dish--price {
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    color: #bb9356;
    margin-bottom: 0;
    box-sizing: border-box;
}

.dish--desc {
    text-align: left;
    font-weight: 400;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: #a5a5a5;
}

.BookATable {
    width: 100%;
}

.BookATable2 {
    height: 400px;
    line-height: 400px;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    align-items: center;
}

.form2 {
    display: inline-flex;
    text-align: left;
    margin-left: -6%;
}

.NumberofPeople {
    display: inline-block;
    border-color: darkgray;
    padding-right: 7%;
}

.date {
    padding-right: 7%;
}

.date1 {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    color: darkgray;
    padding: 15px 45px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn2 {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 328px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.ContactUs {
    width: 100%;
    background-color: #1a1a1a;
    height: 240px;
}

.Contact {
    height: 315px;
    line-height: 315px;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    align-items: center;
}

.welcome4 {
    color: white;
    padding-top: 25px;   
    font-size: 35px;
    margin-bottom: -20px;
}

.welcome5 {
    padding-top: -10px;
    color: lightgray;
    font-size: 17px;
}

.welcome5 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: darkgray;
    font-size: 17px;
    line-height: 25px;
}

.welcome6 {
    color: lightgray;
    padding-top: 15px;
}

.end {
    background-color: black;
    height: 75px;
}

.copyright {
    color: lightgray;
    font-weight: bold;
}
